body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  
}

#container {
    width: 960px;
    height: 960px;
    margin: 30px auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;

}

.grid {
  flex: 0 0 calc(100% / var(--input));
  height: calc(100% / var(--input));
  box-sizing: border-box;
  border: 1px solid black;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.reset, .clear {
  align-self: center;
  font-size: x-large;
}

.clear{
  width: 175px;
  padding: 10px;
}

.reset {
  width: 175px;
  padding: 5px 20px 5px 15px;

}